* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: Sans-Serif, Arial !important;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  background-color: #ffffff;

  /* background: url(images/bg.png) no-repeat center center scroll;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 min-height: 100%; */
}

body,
html {
  min-height: 100vh;
}
a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

.main-heading-highlight{

    color:rgb(57, 17, 234);

}



/* Navbar css */

.nav-link:focus,
.nav-link:hover {
  
  color: black !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: black;
  color: white !important;
}

nav {
  background-color: #821644;
}

nav ul {
  background-color: #821644 !important;
}

nav li:hover {
  color: none !important;
}

nav li a {
  color: #ffffff !important;
  font-weight:300;
  font-size: 18px;
  font-family: "Noto Serif Georgian", serif;
}

.icon li {

    margin: 20px;

}

/* main css */

main{

    padding: 20px;

}

.main-bg-color{

    background-color: #e9ecef;

}

/* spinner css */

.loader,
.loader:before,
.loader:after {
  background: orange;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  display: none;
  color: orange;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


/* select css  */

.selected{

  border: 4px solid rgb(26, 23, 23);

}

/* //slide-css */

#slider-input-form{

  display:none;
  visibility: none;

}
.slider-item img{

   width: 100%;
   height: 35em;

}
